<a href="https://colab.research.google.com/github/rubensgamaliel/CognitiveClass/blob/main/Python_DS/Cognitive_class_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Material from the **Python for data science** class from **IBM** by [cognitive class](https://courses.cognitiveclass.ai/courses/course-v1:Cognitiveclass+PY0101EN+v2/course/)

Consider the following string:

Numbers="0123456"

how would you obtain the even elements ?

In [4]:
Numbers="0123456"
Numbers[::2]

'0246'

What is the result of the following line of code:

"0123456".find('1')

In [5]:
"0123456".find('1')

1

In [6]:
type("0123456".find('1'))

int

What is the result of the following operation in Python:

3 + 2 * 2

In [7]:
3 + 2 * 2

7

In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?

In [8]:
name = 'Lizz'
print(name[0:2])

Li

In Python, if you executed var = '01234567', what would be the result of print(var[::2])?

In [9]:
var = '01234567'
print(var[::2])

0246

In Python, what is the result of the following operation '1'+'2'

In [10]:
'1'+'2'

'12'

Given myvar = 'hello', how would you convert myvar into uppercase?

In [12]:
myvar = 'hello'
myvar.upper()

'HELLO'

how do you access the last element of the tuple: A=(0,1,2,3) :

In [14]:
A=(0,1,2,3)
A[-1]
A[3]

3

Consider the list B=["a","b","c"]

what is the result of the following B[1:]

In [15]:
B=["a","b","c"]
B[1:]

['b', 'c']

What is the result of the following lines of code:

S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

In [16]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

What is the intersection of set S and U

S={'A','B','C'}

U={'A','Z','C'}

In [17]:
S={'A','B','C'}

U={'A','Z','C'}

S & U

{'A', 'C'}